
body, html {
    height: 100%;
}

.hero-image {
    /* The image used */
    background-image: url("images/stars.jpg");


    /* Set a specific height */
    height: 100vh;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;*/
}

/* Place text in the middle of the image */
